html,
body {
  background: black;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-position-y: 1vh;
}

body {
  font-weight: 400;
}

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  background: #a80020;
  background: #f7503e;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 20px;
  text-align: center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 1px solid black;
  width: 20%;
  margin: 0 auto;
  outline: none;
  height: 150px;
  background: #f8f7d1;
  padding: 10px;
  resize: none;
}

textarea:disabled {
  background-color: #f0efcb;
}

h4 {
  margin-top: 48px;
}

.textToType {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 30%;
  text-align: initial;
  line-height: 1.2em;
}
